@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 334 62% 100%;
    --foreground: 334 55% 1%;
    --muted: 334 35% 95%;
    --muted-foreground: 334 9% 37%;
    --popover: 334 62% 100%;
    --popover-foreground: 334 55% 1%;
    --card: 334 62% 100%;
    --card-foreground: 334 55% 1%;
    --border: 334 5% 95%;
    --input: 334 5% 95%;
    --primary: 334 44% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 334 11% 90%;
    --secondary-foreground: 334 11% 30%;
    --accent: 334 20% 82%;
    --accent-foreground: 334 20% 22%;
    --destructive: 18 93% 23%;
    --destructive-foreground: 18 93% 83%;
    --ring: 334 44% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --primary: 226.73 58.43% 65.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 58.43% 65.1%;
    --destructive: 358.16 68.78% 53.53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217.5 9.09% 17.25%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}